In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df = pd.read_csv('Suicide_Data\master.csv')
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [7]:
df[' gdp_for_year ($) '] = df[' gdp_for_year ($) '].str.replace(',','')

In [8]:
from sklearn import preprocessing as p
LE = p.LabelEncoder()

df['country'] = LE.fit_transform(df['country'])
df['age'] = LE.fit_transform(df['age'])
df['sex'] = LE.fit_transform(df['sex'])
df['generation'] = LE.fit_transform(df['generation'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null int32
year                  27820 non-null int64
sex                   27820 non-null int32
age                   27820 non-null int32
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null int32
dtypes: float64(2), int32(4), int64(4), object(2)
memory usage: 2.1+ MB

In [10]:
df['HDI for year'] = df['HDI for year'].dropna().mean()
df = df.drop('country-year',axis=1)
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,0,1987,1,0,21,312900,6.71,0.776601,2156624900,796,2
1,0,1987,1,2,16,308000,5.19,0.776601,2156624900,796,5
2,0,1987,0,0,14,289700,4.83,0.776601,2156624900,796,2
3,0,1987,1,5,1,21800,4.59,0.776601,2156624900,796,1
4,0,1987,1,1,9,274300,3.28,0.776601,2156624900,796,0

In [11]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn import metrics

# LE = LabelEncoder()

# df['Kyphosis'] = LE.fit_transform(df['Kyphosis'])

In [12]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'HDI for year', ' gdp_for_year ($) ',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [13]:
X = df.drop('suicides/100k pop',axis=1).drop('suicides_no',axis=1)

y= df['suicides_no']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [14]:
# LR -> Logistic Regression
# DT -> Decision Tree
#

In [15]:
LR_Model = LogisticRegression()
DT_Model = DecisionTreeClassifier()
RF = RandomForestClassifier(n_estimators=100)
ETB = ExtraTreesClassifier(bootstrap=True)
ET = ExtraTreesClassifier(bootstrap=False)

In [ ]:
LR_Model.fit(X_train, y_train)
DT_Model.fit(X_train, y_train)
RF.fit(X_train, y_train)
ETB.fit(X_train, y_train)
ET.fit(X_train, y_train)

C:\Users\Sunchaser\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Sunchaser\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [ ]:
logreg_predictions = LR_Model.predict(X_test)
tree_predictions = DT_Model.predict(X_test)
ranfor_predictions = RF.predict(X_test)
extratree_bs_predictions = ETB.predict(X_test)
extratree_predictions = ET.predict(X_test)

In [ ]:

etb = ExtraTreesClassifier(bootstrap=False)
etb.fit(X_train, y_train)
ETB_pred = etb.predict(X_test)

In [ ]:
data = {'accuracy_score':[metrics.accuracy_score(y_test,logreg_predictions),metrics.accuracy_score(y_test,tree_predictions),metrics.accuracy_score(y_test,ranfor_predictions),metrics.accuracy_score(y_test,extratree_predictions),metrics.accuracy_score(y_test,extratree_bs_predictions)],'type_of_model':["Logistic_Regression","Decision_Tree","Random_Forest","Extra_Trees","Extra Trees Bootstrapped"]}

In [ ]:
results = pd.DataFrame(data)

In [ ]:
results.head()

In [ ]:
plt.figure(figsize=(20,5))
plt.xlabel("Type Of Model")
sns.barplot(results["type_of_model"],results['accuracy_score'])